extends layout

append styles
  link(href='/styles/user.css',rel='stylesheet')

block content
  //- if this is the user page for the currently logged-in user
  if username == user.username
    form(action='/logout',method='post').logout-button
      input(type='hidden',name='_csrf',value=csrfToken)
      input(type='submit',value='Log Out')

  //- if this is the user page for the currently logged-in user
  if username == user.username
    a(href='//gravatar.com/emails')
      img(src='//gravatar.com/avatar/'+user.emailMD5+'?s=420').user-page-avatar
  else
    img(src='//gravatar.com/avatar/'+user.emailMD5+'?s=420').user-page-avatar

  h2= user.displayname
  h3= user.username

  h2 Submitted plugs
  ul.pluglist
    each plug in user.plugs
      li: a(href='/plug/'+plug._id) #{plug.properties.venue} - #{plug.properties.name}